<p>Olá {{ student }}, sua questão foi respondida por um dos nossos professores. Dá uma olhada: </p>
<p>
  <strong>Questão: </strong> {{ question }} <br />
  <strong>Resposta: </strong> {{ answer }} <br />
  <br />
</p>
